# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
/.idea/
/idea/
/.vscode/
/.qoder/

# gradle
/build/
/.gradle/
/gradle/

# minecraft
minecraft
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# Wiki
/temps/
/gradle.properties
